html{
    scroll-behavior: smooth;
}
#videoshd{
    background-color: #dad8d8;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding-top: 30px;
}
#corpo{
    background-color: #fff;
}
.imgMusica{
    width: 273px;
    height: auto;
}
.cartaoMusicas{
    width: clamp(200,75%,273px);
}